header {
  background-color: #5ca0f2;
  background-image: linear-gradient(315deg, #5ca0f2 0%, #f5f7f6 74%);
  width: 100%;
}

.search-box {
  background-color: #0f8fe4;
}
.btn {
  background-color: #8dcff5;
}

.list-group-item {
  line-height: 0.5;
  border: none;
}
.card-body {
  flex: auto;
}

span.severe {
  padding: 3px;
  background-color: red;
  color: white;
}

span.moderate {
  padding: 3px;
  background-color: yellow;
}

span.favorable {
  padding: 3px;
  background-color: green;
  color: white;
}
